<!DOCTYPE html>
<html>
    <head>
        <title>参加一覧</title>
        <link rel="stylesheet" href="/css/z.css">
        <link rel="icon" href="CameraRoll/49_20230824114039.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>コジャケ</p>

        <!-- エラーがあった際の表示 -->
        <% if(errors.length) { %>
            <ul class="error">
                <% for(var i = 0; i < errors.length; i++){ %>
                    <li><%= errors[i] %></li>
                <% } %>
            </ul>
        <% } %>

        <form action="check" method="post">
            <label>パスワード</label>
            <input type="password" id="pas" name="password">
            <button id="hj">表示</button>
            <input type="submit" value="送信">
        </form>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     </body>
    <script>
        $(document).ready(function() {
            $('#hj').on('click', function(e) {
                e.preventDefault();
                let pass = $('#pas');
                if (pass.attr('type') === "password") {
                    pass.attr('type', 'text');
                    $('#hj').text('非表示');
                } else {
                    pass.attr('type', 'password');
                    $('#hj').text('表示');
                }
            });
        });
    </script>
</html>
