<!DOCTYPE html>
<html>
    <head>
        <title>乱獲交流会</title>
        <meta name="description" content="サーモンラン">
        <link rel="icon" href="CameraRoll/49_20230824114039.png">
        <link rel="stylesheet" href="/css/z.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="change">
            <img src="CameraRoll/49_20230824114039.png" id="cursor">
        
        <header>
            <div class="slmr">
                <div class="a">
                <input type="button" onclick="location.href='/insert'" value="参加する" id="b" class="change">
                </div>
            </div>
        </header>
        <div class="sthm">
            <main>
                <div class="grid-container">
                    <img src="CameraRoll/44_20230818111958.png" id="ik">
                    <div class="flex himk">
                        <p id="event">乱獲</p>
                        <p id="lc">交流会</p>
                        <img src="/CameraRoll/50_20230830104641.png" id="xx">
                    </div>
                </div>

                <section class="hg">
                    <% if(results && results.length > 0) { %>
                        <% const latestResult = results[0] %>
                        <h2 id="ki">日時  <%= latestResult.MONTH %>/<%= latestResult.DAY %> <br><%= latestResult.TIME %></h2>
                    <% } %>
                    <img src="/CameraRoll/54_20230830111438.png" id="xz">
                </section>

                <section class="jh">
                    <h2 id="st">乱獲交流会とは</h2>
                    <p id="sts">
                        乱獲に興味がある人が集まってお試し乱獲をする場所です。<br>
                        一回20分で2時間の間VCを動いていただき、
                        たくさんの方と交流していただけます。

                        <img src="/CameraRoll/55_20230830113421.png" id="ds">
                    </p>
                </section>

                <section class="nt">
                    <div class="fs">
                        <img src="CameraRoll/IMG_1563.png" id="is">
                    </div>
                </section>
                
                <input type="button" onclick="location.href='/insert'" value="参加する" id="b" class="change">
                
                <section class="ol">
                    <img src="/CameraRoll/56_20230830115331.png" id="co">
                    <h2 id="area-1">乱獲初心者鯖とは</h2>
                <p id="rso">
                    乱獲初心者でも参加できる乱獲募集がほぼ毎日出ています。<br>
                    乱獲勉強会なども行っていますので是非ご参加ください。<br>
                    <br>
                    <a id="sbk" href=https://t.co/zMO9Divi9L  class="change" target="_blank">参加はこちらから</a>
                    <img src="/CameraRoll/57_20230830121001.png" id="ps">
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>
                    　<br>

                    <a href="/check" class="change">管理</a>
                </p>
                </section>
            </main>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/v.js"></script>
    </div>
    </body>
    <script>
        $(document).ready(function() {
            var images = [
            "CameraRoll/44_20230824110624.png",
            "CameraRoll/44_20230824110743.png",
            "CameraRoll/44_20230824111000.png",
            "CameraRoll/44_20230824111015.png",
            "CameraRoll/44_20230824111032.png",
            "CameraRoll/44_20230824111055.png",
            "CameraRoll/44_20230824112329.png",
            "CameraRoll/44_20230824111326.png",
            "CameraRoll/44_20230824111415.png",
            "CameraRoll/44_20230824111500.png",
            "CameraRoll/44_20230824111558.png",
            "CameraRoll/44_20230824111633.png"
            ];

            var currentImageIndex = -1;

            //画像をクリックすると次の画像にさし変わる
            $('#ik').click(function() {
                currentImageIndex ++;
                $(this).attr("src", images[currentImageIndex]);
            });
        });
    </script>
</html>
