<!DOCTYPE html>
<html>
    <head>
    <title>参加一覧</title>
    <link rel="stylesheet" href="/css/z.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>参加一覧</h1>
        </header>
        <main>
            <input type="button"  value="削除" id="delete">
            <form action="/next" method="post">
                <div>
                    <label>月</label>
                    <input type="text" name="month">
                </div>
                <div>
                    <label>日</label>
                    <input type="text" name="day">
                </div>
                <div>
                    <label>時間</label>
                    <input type="text" name="time">
                </div>
                <input type="submit"  value="保存" >
            </form>
            <table>
                <thead>
                    <tr>
                        <th>
                            discordでの名前
                        </th>
                        <th>
                            TwitterID
                        </th>
                        <th>
                            スプラトゥーンでの名前
                        </th>
                        <th>
                            ホスト
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% if(results && results.length > 0){ %>
                        <% for(var i = 0; i < results.length; i ++) { %>
                            <tr>
                                <td>
                                    <%= results[i].DiscordName %>
                                </td>
                                <td>
                                    <%= results[i].twitterId %>
                                </td>
                                <td>
                                    <%= results[i].gameName %>
                                </td>
                                <td>
                                    <%= results[i].ishost %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            <input type="button" onclick="location.href='/index'" value="topへ戻る">
        </main>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    </body>
    <script>
        //削除処理の確認
        $(document).ready(function() {
            $('#delete').on('click', function() {
                if(window.confirm("すべてのデータを削除しますがよろしいですか？")) {
                    window.location.href = '/delete';
                }
            });
        });
    </script>
</html>