<!DOCTYPE html>
<html>
    <head>
        <title>人数オーバー</title>
        <link rel="stylesheet" href="/css/z.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="change">
        <div>
            <img src="CameraRoll/49_20230824114039.png" id="cursor">
            <img src="CameraRoll/47_20230818145239.png" class="jk">
            <h2 id="mg" class="change">申し訳ございません。今回の募集は締め切らせて頂きました。<br>またのご参加をお待ちしております。</h2>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/v.js"></script>
    </body>
</html>