<!DOCTYPE html>
<html>
    <head>
        <title>参加完了</title>
        <link rel="stylesheet" href="/css/z.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body class="change">
        <div class="change">
            <img src="CameraRoll/49_20230824114039.png" id="cursor">
            <img src="CameraRoll/47_20230818145239.png" class="jk">
            <h2 id="sa">参加登録が完了しました。<br>ありがとうございます。</h2>
        </div>
        <div id="thank">
            <img src="CameraRoll/53_20230824151643.png" class="mn">
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="/js/v.js"></script>
    </body>
</html>