@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Rampart+One&family=Train+One&display=swap');



.error {
    font-size: 16px;
    font-weight: bold;
    color: #ED5974;
    border: 3px solid #e29a9a;
    padding: 12px 34px;
    line-height: 1.6;
    border-radius: 6px;
    list-style: outside;
    background-color: #fff;
    margin:30px;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}

.sthm{
    text-align:  center; 
}

.table{
    margin: auto;    
}

.a {
    text-align: right;
}

  

#b {
    font-family: 'Hachi Maru Pop', cursive;

    /* margin-right: auto; */
   font-size: 2rem;
    padding: 10px 20px; /* パディングを適切に調整 */
    border-radius: 50%; /* 大きな値を指定して円形にする */
    background-color: rgb(247, 243, 24); /* 背景色を指定 */
    color: rgba(105, 98, 0, 0.568); /* テキスト色を指定 */
    border: none;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 300px;
}


.namae{
    font-size: 40px;
}
.nr{
    width: 400px;
    height: 50px;
    margin: 10px 40px 70px 40px;
    border-radius: 20px;
    font-size: 30px;
}
#ss{
    width: 150px;
    height: 70px;
    font-size: 40px;
    border-radius: 60px;
    margin-top: 50px;
}

.form-container{
    text-align:  center; 
    margin: auto;
}

.form-container h1{
    font-size: 60px;
    margin: 70px;

}

#event{
    font-size: 100px;
    margin-right: 0px;
    font-family: 'Train One', cursive;
    color: #ffa361;
    
}

#lc{
    font-size: 100px;
    font-family: 'Train One', cursive;
    color: #117711;
   z-index: 2;
}

#st{
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 50px;
    color: #ffe6fb;
    text-shadow: 2px 2px 2px #ff66e6;
}
#sts{
    font-size: 25px;
}

.ir{
    font-size: 30px;
}

#sys{
    font-size: 40px;
}

#area-1{
    font-family: 'Hachi Maru Pop', cursive;
    font-size: 50px;
    font-size: 50px;
    color: #e6ffe7;
    text-shadow: 2px 2px 2px #2ee643;
}

#rso{
    font-size: 25px;
}

#sbk{
    font-size: 30px;
}

#rkh{
    font-size: 25px;
}

input[type="checkbox"]{
    width: 25px;
    height: 25px;
}

#ransyo{
    text-decoration: none;
}

#ik{
    width: 30%;
    
}

.grid-container {
    display: flex;
    justify-content: center; /* 横方向に中央に配置 */
    align-items: center; /* 縦方向に中央に配置 */
}
  

#is{ 
    width: 50%;
    margin-top: 300px;
}

#hh{
    width: 30%;
}

#mg{
    text-align:  center;
    margin-top: 200;
}

#sa{
    text-align:  center;
    margin: 90px auto 0 auto;
    text-align:  center;
}

#ki{
    font-size: 90px;
    font-family: 'Hachi Maru Pop', cursive;
    margin-bottom: 500px;
    color: #ccf2ff;
    text-shadow: 3px 3px 3px #1ac6ff;
}

#wq{
    font-family: 'Hachi Maru Pop', cursive;
    color: #f2e6ff;
    text-shadow: 2px 2px 2px #8000ff;
}

#co{
    position: absolute;
    top: -330px;
    left: 0;
    width: 30%;
}

@media (max-width:767px) {
    body {
        width: 100%;
    }

    #ki {
        font-size: 50px;
    }
    #event {
        font-size: 50px;
    }
    #lc {
        font-size: 50px;
    }
    #st{
        font-size: 40px;
    }
    #sts{
        font-size: 20px;
    }
    #area-1{
        font-size: 40px;
        margin-top: 200px;
    }
    #rso{
        font-size: 20px;
    }
    .nr{
        width: 300px;
        font-size: 100px;
    }

    .form-container input[type="text"] {
        font-size: 150%;
    }
    .namae{
        font-size: 30px;
    }
    #wq{
        font-size: 40px;
    }
    #rkh{
        font-size: 30px;
        margin: auto;
    }
    
    input[type="checkbox"] {
        width: 30px;
        height:30px;
    }
    #is{
        width: 100%;
    }
    #b {
        margin-bottom: 40px;
        width: 200px;
    }

    .grid-container {
        flex-direction: column ;
    }

    #ik {
        width: 300px;
    }

    .flex {
        display: flex;
    }

    #sa {
        text-align: center;
    }

    /* .change {
        width: 100%;
    } */

    #co{
        position: absolute;
        top: -180px;
        left: 0;
        width: 30%;
    }
}

.jk{
    width: 1px;
}

.mn{
    margin-top: 100px;
    width: 500px;

}

#thank {
    text-align: center;
}

.himk {
    position: relative;
}

#xx {
    position: absolute;
    top: 0px;
    right: -100px;
    width: 30%;
    z-index: 1;
}


.hg{
    position: relative;
}

#xz{
    position: absolute;
    top: 300px;
    left: 0;
    width: 30%;
}

.jh{
    position: relative;
}

#ds{
    position: absolute;
    top: 300px;
    right: -50px;
    width: 30%;
}



.ol{
    position: relative;
}

#ps{
    position: absolute;
    top: 300px;
    right: -30px;
    width: 30%;
}

#jj{
    font-family: 'Hachi Maru Pop', cursive;
    margin: 100px auto;
   font-size: 2rem;
    padding: 10px 20px; /* パディングを適切に調整 */
    border-radius: 50%; /* 大きな値を指定して円形にする */
    background-color: rgb(255, 254, 198); /* 背景色を指定 */
    color: rgb(0, 0, 0); /* テキスト色を指定 */
}